<% provide(:title, "Top") %>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Top#index</h1>
    <p class="lead font-weight-normal">Find me in app/views/top/index.html.erb</p>
    <a class="btn btn-outline-secondary" href="#">Eternal Comming Soon</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>