<h1>Editing Bang Dream Character</h1>

<%= render 'form', bang_dream_character: @bang_dream_character %>

<%= link_to 'Show', @bang_dream_character %> |
<%= link_to 'Back', bang_dream_characters_path %>
