// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
$return-top-width: 50px !default;
$return-top-height: 50px !default;
$return-top-font-size: 25px !default;

$return-top-content-size: 25px !default;
$return-top-content-opacity: 0.6 !default;
$return-top-content-right: 0 !default;
$return-top-content-bottom: 0 !default;

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 5px;
  bottom: 5px;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}